rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /messages/{message} {
      allow read: if isAuthenticated();
      allow create: if isLoggedIn() && isValidMessage();
      allow update, delete: if false;
    }
  }

  function isAuthenticated() {
    return request.auth != null;
  }

  function isValidMessage() {
    return request.resource.data.author == request.auth.token.email;
  }
}